<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Homework №2. Anna Mikhaleva</title>
    <link rel="stylesheet" href="static/style3.css">
  </head>

  <body>
      <h1>Chat with AnyaBot</h1>
        <form class="form" action="" method="post">
          <table>
            <tr>
              <td class="title">
                <!--<label for="fullname">{{ fullname }}:</label> -->
                <label for="fullname">You:</label>
              </td>
              <td class="field">
                {{ message }}
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
              <td class="title">
                <label for="fullname">AnyaBot:</label>
              </td>
              <td class="field">
                {{ answer }}
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
            <tr>
              <td class="title">
                <label for="message">Message:</label>
              </td>
              <td class="field">
                <textarea id="message" name="message" placeholder="Write anything you want here"></textarea>
              </td>
            </tr>
            <tr>
              <td class="title"></td>
              <td class="field">
                <input type="submit" class="btn" value="Send">
              </td>
            </tr>
          </table>
        </form>
  </body>
</html>
